<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>#StickNotes</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>

      <link rel="stylesheet" href="style.css">

  
</head>

<body>
  <meta name="viewport" width="device-width" intial-scale="1.0">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<div class="me text-center">Made by <span style="color:black">Saurish</span> + <span style="color:#117a65">Green Tea</span></div>
<div class="well" id="main">
  
  <a href="#"><div class="add btn" v-on:click="newNote()"><b>+</b></div></a>
  
  <!-- To display message when there are no notes -->
  
  <div class="empty text-center" v-bind:class="{'hide':isempty}">
    <h1><mark> You<span style="color:red"> haven't</span> saved any Notes<br><br> Get <span style="color:#28b463">Started</span> by clicking on the <span style="color:#3498db"><b>+</b></span> sign </mark></h1>
  </div>
  
  <!-- To Create and modify a note -->
  
  
  <div class="row">
    <div class="col-sm-3" v-for="(note,index) in notes">
  <div class="mynotes">
    <div class="tape"> </div>
    <div class="btn delete" v-on:click="deleteNote(index)"><a href="#" style="text-decoration:none;color:red"><b>X</b></a></div>    
    <div class="title"><textarea type="text" placeholder="Title goes here" v-model="note.title">{{note.title}}</textarea></div>
    <br>
  <div class="message"><textarea type="text" placeholder="Your text goes here" v-model="note.message">{{note.message}}</textarea></div>
  
    <!-- Custom element to check whether notes data is being modified on console -->
    
    <!--Custom Element starts here

    <button class="btn save text-center" v-on:click="updateNote(index)">Save</button>
  </div><br><br> 

    -->
    
    </div>
    </div>
  
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

    <script src="index.js"></script>

</body>
</html>
