html,body{
  height:100%;
  
}
body{
  background-color:#34495e;
  background-image:url("https://s6.postimg.org/hfe03e5i9/doodle_wallpaper_1.jpg");
  background-size:100%;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size:100% 100%;
}
.me{
  position:absolute;
  height:50px;
  width:250px;
  background-color:  #2ecc71  ;
  transform:rotate(-90deg);
  left:-100px;
  top:100px;
  font-size:17px;
  font-family:"Oswald";
  padding:10px 10px;
  border-radius:5px 5px 50px 50px;
  color:white;
}
#main{
  margin:100px 10px;
  padding:40px 40px;
}
.empty{
  display:block;
  position:absolute;
  left:0;
  right:0;
  top:300px;
  
}
.hide{
  display:none;
}
h1{
  color:white;
  font-size:5vw;
  z-index:0;
}
.add{
  width:60px;
  height:60px;  
  border-radius:30px;
  font-size:30px;
  background-color: #3498db;
  position:fixed;
  right:40px;
  top:40px;
  color:white;
  display:block;  
  box-shadow: 0 6px 5px   #cacfd2  ;
  z-index:5;
  transition:width 1s ease;
  -webkit-transition-property:width 1s ease;
}
.add:active{
  box-shadow:0 5px 5px  #1f618d ;
  transform: translateY(4px);
  -ms-transform: translateY(4px); /* IE 9 */
   -webkit-transform: translateY(4px); /* Chrome, Safari, Opera */
}

.mynotes{
  width:300px;
  height:;
  background-color:yellow;
  border:2px solid yellow;
  box-shadow:6px 10px 15px  #2e4053 ;
  z-index:3;
  position:relative;
  margin-bottom:20px;  
}

.title textarea{
  min-height:30px;
  max-height:30px;
  min-width:290px;
  border:none;
  margin:25px 5px 0px 5px;
  border-bottom:0.5px  #f1c40f   solid;
  background-color:yellow;
}
.message textarea{
  min-height:200px;
  width:290px;
  margin:0px 5px;
  position:relative;
  word-wrap:break-word;
  background-color:yellow;
  border:none;
  color:;
}
.delete{
  width:30px;
  height:30px;
  padding:1px;
  border-radius:15px;
  background-color:yellow;
  color:red;
  float:right;
  margin:5px;
}
.save{
  background-color: #b9770e ;
  margin:auto;
  position:relative;
  left:110px;
  color:white;
}
.tape{
  position:absolute;
  border:2px solid orange;
  width:50px;
  height:100px;
  top:-50px;
  left:110px;
  background-color:orange;
  transform:rotate(-4deg);
  
}



@media screen and (max-width:480px){
  .add{
    width:50px;
    height:50px;
    font-size:22.5px;
    border-radius:60px;
    text-align:center;
  }
  
  .me{
  position:absolute;
  height:35px;
  width:150px;
  left:-60px;
  top:60px;
  font-size:10px;
  padding:10px 10px;
  }
  .mynotes{
    width:200px;
    
  }
  .tape{
    width:35px;
    height:80px;
    left:80px;
  }
  .title textarea{
    min-width:190px;
    max-width:190px;
    min-height:35px;
    max-height:35px;
    margin-top:0px;
  }
  .message textarea{
    max-width:190px;
    min-height:150px;
  }
}